fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
python-multipart==0.0.9
pdfplumber==0.11.4
ruff==0.7.0
mypy==1.13.0
autopep8==2.3.1

# Database dependencies
sqlalchemy[asyncio]==2.0.35
asyncpg==0.30.0
alembic==1.14.0
psycopg2-binary==2.9.10
